
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

﻿@model TienThinhCandy.Models.CreateAccountViewModel

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    @using (Html.BeginForm("Index", "Account", FormMethod.Get, new { }))
    {
        <div class="input-group">
            @Html.TextBox("SearchText", null, new { @class = "form-control bg-light border-0 small", @placeholder = "Tìm kiếm" })
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    }
</nav>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Danh sách tài khoản</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="home/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sửa tài khoản</h3>

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Tài khoản</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group">
                    <label>Họ tên</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Quyền</label>
                    @Html.DropDownListFor(x => x.Role, ViewBag.Role as SelectList, "- Chọn quyền -", new { @class = "form-control", @multiple = "multiple" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Sửa</button>
                </div>
            }
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<!-- /.content -->
