@model TienThinhCandy.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .new_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-new {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    /*    .img-box img {
        max-height: 100%;
        max-width: 100%;
    }*/
</style>
<div class="container new_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-new">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Đặt lại mật khẩu của bạn</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label", @value = "Mật khẩu" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label", @value = "Xác nhận lại mật khẩu" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-success" value="Đặt lại" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
